<ion-view title="">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button-img">

        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
               <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/movie.jpg">
            </div>
        </div>
<!--<div class = "row"></div>       
<div class="tabs-striped tabs-background-positive tabs-color-light">
    <div class="tabs">
        <a class="tab-item" href="#">
IN THEATRES
</a>
 <a class="tab-item" href="#">
COMING SOON
</a>
    </div>
</div>-->
<div class="row">
    <div class="col col-50">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/movie.jpg">
            </div>
        </div>        
    </div>
        <div class="col col-50">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/movie.jpg">
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col col-50">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/movie.jpg">
            </div>
        </div>        
    </div>
        <div class="col col-50">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/movie.jpg">
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col col-50">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/movie.jpg">
            </div>
        </div>        
    </div>
        <div class="col col-50">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/movie.jpg">
            </div>
        </div>
        
    </div>
</div>
    </ion-content>
</ion-view>
